.product-list {
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
}

.item {
  margin-right: 10px;
}

.item_list {
  width: 300px;
  height: 250px;
}

.input-wrapper {}

.input-style {
  margin-left: 20px
}